<!DOCTYPE html>
<html>
  <head>
    <title>Beyond the Glo'</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<!-- Need to add the correct routes to the nav bar a tags -->
    <header>
      <div class="number"> <h1>P: 1-800-345-4059</div> <img class="logo" src="/images/Logo.PNG" alt=""><div class="cart"><a href=/soaps><img src="/images/cart.png" alt=""></a></div>
    </header>
    <nav class="nav-bar">
      <a href="/">Home</a>  <a href="Search">Search</a>  <a href="/Contact">Contact</a>
    </nav>