<!DOCTYPE html>
<html>
  <head>
    <title>Beyond the Glo'</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<!-- Need to add the correct routes to the nav bar a tags -->
    <nav>
        <a href="/">Home</a> | <a href="Search">Search</a> | <a href="About">About</a>
    </nav>