<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<!-- Need to add the correct routes to the nav bar a tags -->
    <a href="Home">Home</a> | <a href="Search">Search</a> | <a href="About">About</a>