<!DOCTYPE html>
<html>
  <head>
    <title>Beyond the Glo'</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<!-- Need to add the correct routes to the nav bar a tags -->
    <header>
      <div class="number"> <h1>P: 1-800-345-4059</div> <img src="/images/Logo.PNG" alt=""><div class="buy"><a href="Cart">Buy Now</a></div>
    </header>
    <nav class="nav-bar">
      <a href="/">Home</a>  <a href="Search">Search</a>  <a href="About">About</a>
    </nav>