<!DOCTYPE html>
<html>
  <head>
    <title>Beyond the Glo'</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agdasima&family=Comfortaa:wght@300&family=Gruppo&family=Lexend+Peta:wght@200;400&family=Nanum+Myeongjo&family=Open+Sans:wght@300&family=Quattrocento&family=Rajdhani&display=swap" rel="stylesheet">
  </head>
  <body>
<!-- Need to add the correct routes to the nav bar a tags -->
    <header>
      <div class="number"> <h1>P: 1-800-345-4059</div> 
      <a href="/"><img class="logo" src="/images/Logo.PNG" alt="Beyond the Glo'"></a>
      <div class="cart"><a href=/soaps><img src="/images/cart.png" alt=""></a></div>
    </header>
    <nav class="nav-bar">
      <a href="/">HOME</a>  <a href="/products">PRODUCTS</a>  <a href="/contacts">CONTACT</a>
    </nav>