<%- include('./partials/header') %>
     <!-- Need to link the a tags and the photos to the correct route for soaps -->
    <p class="home-index">SHOP OUR BEST SELLERS</p>
    <container id="container1">
    <div class="soap-index1">
        <img src="/images/oatmilkindex.jpeg" alt="Oatmilk and Honey">
        <a href="">Oatmilk & Honey</a>
        <img class="stars" src="/images/stars.png" alt="stars">
    </div>
    <div class="soap-index1">
        <img src="/images/chivarlyindex.jpeg" alt="Chivarly & Lust">
        <a href="">Chivarly & Lust</a>
        <img class="stars" src="/images/stars.png" alt="stars">
    </div>
    <div class="soap-index1">
        <img src="/images/floralevergloindex.jpeg" alt="Floral EverGlo">
        <a href="">Floral Ever Glo</a>
        <img class="stars" src="/images/stars.png" alt="stars">
    </div>
    </container>
    <container id="container2">
        <h1>Our Mission</h1>
        <p>At Beyond The Glo', our mission is to cultivate and promote self-care practices that celebrate and honor the beauty, wellness, and well-being of individuals. 
            We are dedicated to providing a range of high-quality self-care products that are thoughtfully curated. Through our offerings, we aim to empower and inspire self-love, self-acceptance, and self-empowerment. 
            We strive to create and provide high-quality, natural soaps that promote self-care, sustainability, and inclusivity. 
            As a black-owned business, we are committed to celebrating and embracing diversity while offering products that cater to a wide range of skin types and needs. 
            Our purpose is to motivate, both men and women, to prioritize their well-being through our thoughtfully crafted soaps, using the finest ingredients and sustainable practices. 
            We aspire to build a brand that fosters and contributes to a healthier and affirming lifestyle that develops holistic self-care practices. 
        </p>
    </container>
    <!-- <a href="/soaps">Soaps</a> -->

<%- include('./partials/footer') %>
