<%- include('./partials/header') %>
<h1 class="product-page">Products Page</h1>
<container id="container5">
    <div class="soap-index1">
        <img class="soaps" src="/images/soaps/OatMilk & Honey.jpeg" alt="OatMilk and Honey">
        <h1>OatMilk & Honey</h1>
        <p>Ingredients: Pellentesque habitant morbi tristique 
            senectus et netus et malesuada fames.</p>
        <a href="/soaps/new">Add To Cart</a>
    </div>
    <div class="soap-index1">
        <img class="soaps" src="/images/soaps/Chivarly & Lust.jpeg" alt="Chivarly & Lust">
        <h1>Chivarly & Lust</h1>
        <p>Ingredients: Pellentesque habitant morbi tristique 
            senectus et netus et malesuada fames.</p>
        <a href="/soaps/new">Add To Cart</a>
    </div>
    <div class="soap-index1">
        <img class="soaps" src="/images/soaps/Floral EverGlo.jpeg" alt="Floral EverGlo">
        <h1>Floral Ever Glo</h1>
        <p>Ingredients: Pellentesque habitant morbi tristique 
            senectus et netus et malesuada fames.</p>
        <a href="/soaps/new">Add To Cart</a>
    </div>
    <div class="soap-index1">
        <img class="soaps" src="/images/soaps/Go For Glo.jpeg" alt="Go For Glo">
        <h1>Go For Glo</h1>
        <p>Ingredients: Pellentesque habitant morbi tristique 
            senectus et netus et malesuada fames.</p>
        <a href="/soaps/new">Add To Cart</a>
    </div>
    <div class="soap-index1">
        <img class="soaps" src="/images/soaps/Strictly Feminine.jpeg" alt="Strictly Feminine">
        <h1>Strictly Feminine</h1>
        <p>Ingredients: Pellentesque habitant morbi tristique 
            senectus et netus et malesuada fames.</p>
        <a href="/soaps/new">Add To Cart</a>

<%- include('./partials/footer') %>