<%- include('./partials/header') %>
<h1>Products Page</h1>
<container id="container1">
    <div class="soap-index1">
        <img src="/images/oatmilkindex.jpeg" alt="OatMilk and Honey">
        <h1>OatMilk & Honey</h1>
        <p></p>
        <a href="/soaps/new">Add To Cart</a>
    </div>
    <div class="soap-index1">
        <img src="/images/chivarlyindex.jpeg" alt="Chivarly & Lust">
        <h1>Chivarly & Lust</h1>
        <a href="/soaps/new">Add To Cart</a>
    </div>
    <div class="soap-index1">
        <img src="/images/floralevergloindex.jpeg" alt="Floral EverGlo">
        <h1>Floral Ever Glo</h1>
        <a href="/soaps/new">Add To Cart</a>
    </div>
    <div class="soap-index1">
        <img src="/images/soaps/Go For Glo.jpeg" alt="Go For Glo">
        <h1>Go For Glo</h1>
        <a href="/soaps/new">Add To Cart</a>
    </div>
    <div class="soap-index1">
        <img src="/images/soaps/Strictly Feminine.jpeg" alt="Strictly Feminine">
        <h1>Strictly Feminine</h1>
        <a href="/soaps/new">Add To Cart</a>

<%- include('./partials/footer') %>