* {
  box-sizing: border-box;
  }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  font-size: 3vmin;
  font-family: 'Agdasima', sans-serif;
  background-color: rgba(212, 193, 170, 0.818);
  border: solid white;
  transition: color 0.3s ease-in-out 0.5s;
}

.nav-bar a:hover {
  font-size: 3.5vmin; 
  text-decoration: underline white;
  }

.nav-bar > a {
  margin-top: 4vmin;
  padding: 2vmin;
  letter-spacing: .5vmin;
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(231, 215,196);
  
}

.logo {
  justify-content: center;
  height: 10vmin;
  width: 10vmin; 
  margin-right: 100px;
}

.number {
  font-size: 9px;
  font-weight: 100;
  font-family: 'Agdasima', sans-serif;
  color: black;
}

header .cart img{
  height: 40px;
  width: 40px;
}

.home-index {
  text-align: center;
  margin-top: 40px;
  font-family: 'Lexend Peta', sans-serif;
  font-size: 3vmin;
  -webkit-text-stroke: .5px white;
	-webkit-text-fill-color: rgba(0, 139, 186, 0.705);
}

#container1  {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.soap-index1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.soap-index1  a {
letter-spacing: 2px;
margin-top: 7px;
margin-bottom: 5px;
text-decoration: none;
border: 1px solid black;
padding: 7px 14px;
border-radius: 0px;
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
color: black;
}

.soap-index1 .soaps {
  height: 30vmin;
  width: 30vmin;
  margin-top: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.soap-index1 .soaps:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.soap-index1 h1 {
  font-family: 'Gruppo', sans-serif;
}

.soap-index1 {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
}

.soap-index1:nth-child(4),
.soap-index1:nth-child(5) {
  flex-basis: calc(50% - 10px);
}

.soap-index2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.soap-index2 a {
  letter-spacing: 2px;
  margin-top: 7px;
  margin-bottom: 5px;
}

.soap-index2 .soaps {
  height: 30vmin;
  width: 30vmin;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

#container1 .soap-index1 .stars {
height: 20px;
width: 70px; 
padding: 0;
margin-top: 2px;
justify-content: left;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quattrocento', serif;
  font-weight: 200;
  font-size: 30px;
  text-transform: uppercase;

}

#container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(231, 215,196);
  margin-top: 60px;
  font-family: 'Nanum Myeongjo', serif;

}

#container2 h1 {
  text-decoration: underline;
  font-size: 25px;
}

.index-soap-photos img {
    height: 30vmin;
    width: 30vmin;
}
/*Index Page/Cart Page*/
#container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quattrocento', serif;
  text-transform: capitalize;
  font-size: 20px;
}

#container3 a {
  text-decoration: none;
}

#container3 input {
  background-color: rgb(231, 107, 107);
  color: white;
  padding: 12px 20px;
  font-size: 11px;
  margin-bottom: 10px;
}

#container3 input:hover {
  background-color: rgb(232, 87, 87);
}

#container4 {
  text-align: center;
  font-family: 'Quattrocento', serif;
  text-transform: capitalize;
  font-size: 20px;
}

#container4 img {
  height: 30vmin;
  width: 30vmin;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  
}


.edit-button a {
  text-decoration: none;
  color: black;
}

.edit-button {
background-color: rgb(231, 215,196);
border-radius: 50px;
}

#container4 h1 {
  margin-top: 100px;
}

#container5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(236, 202, 160);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(197, 168, 132);
}

button {
  background-color: rgb(231, 215,196);
  color: white;
  padding: 12px 20px;
  font-size: 11px;
  margin-bottom: 10px;
  border-radius: 50px;
}

button a {
  text-decoration: none;
}