<%- include('../partials/header') %>
<button><a href="/">Back</a></button>
<h1>Add To Cart</h1>
<form action="/soaps" method="POST">
<label>Name
    <select name="name">
        <option value="OatMilk & Honey">OatMilk & Honey</option>
        <option value="Chivarly & Lust">Chivarly & Lust</option>
        <option value="Strictly Feminine">Strictly Feminine</option>
        <option value="Go For Glo">Go For Glo</option>
        <option value="Floral EverGlo">Floral EverGlo</option>
    </select>
</label><br>
<label>Category
    <select name="category">
        <option value="Face Bar">Face Bar</option>
        <option value="Yoni Bar">Yoni Bar</option>
        <option value="Full Body Bar">Full Body Bar</option>
    </select>
</label><br>
<label>Scent
    <select name="scent">
        <option value="Masculine">Masculine</option>
        <option value="Feminine">Feminine</option>
        <option value="Unisex">Unisex</option>
    </select>
</label><br>
<label>Price
    <select name="price">
        <option value="8.99">8.99</option>
        <option value="9.99">9.99</option>
    </select>
</label><br>
<input type="submit">
</form>

<%- include('../partials/footer') %>
